<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User management</title>
</head>
<body>
    <p>
        <ul>
            <% items.forEach((item)=>{%>
                  <li value="<%= item.id %>" 
                    onclick="{(e) => triggerDelete(e)}">
                    <%=item.username%>
                </li> 
            <%});%>
        </ul>
</body>
<script>
    function triggerDelete(e){
        e.target.value = ++e.target.value
    }
</script>
</html>