:root {
    --bg-main: #1D2021;
    --header1: #BDAE93;
    --text-fg2: #d5c4a1;
    --text-bg: #FBF1C7;
    --text-bg0: #282828;
    --text-bg1: #3c3836;
    --text-bg2: #504945;
    --text-placeholder: #A89984;
    --text-white: #FFFFFF;
    --text-whitesmoke: #D9D9D9;
    --text-black: #000000;
    --d-blue: #458588;
    --d-aqua: #689d6a;
}